/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", sans-serif;
  line-height: 1;
  font-weight: 300;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

/* VARIABLES */
:root {
  --color-bg: #061130;
  --color-card-bg: #192957;
  --color-header-table: #182653;
  --color-text-primary: #cdd0d4;
  --color-text-secondary: #9098b0;
  --color-text-highlight: #7395e5;
  --color-row-highlight: #222e4f;
  --color-success: #48bb78;
  --color-error: #f56565;
}

/* LAYOUT */
.header {
  display: flex;
  margin: 2.4rem;
}

.budget-tracker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  row-gap: 2.4rem;
  grid-auto-flow: row;
  grid-template-areas:
    "transaction-list transaction-list balance"
    "transaction-list transaction-list summary"
    "transaction-list transaction-list .";
}

.transaction-list {
  grid-area: transaction-list;
}

.balance {
  grid-area: balance;
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
  padding: 2.4rem;
  border-radius: 0.4rem;
  background-color: var(--color-card-bg);
}

.summary {
  grid-area: summary;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.2rem;
  padding: 1.8rem;
  border-radius: 0.4rem;
  background-color: var(--color-card-bg);
}

.transaction-list,
.balance,
.summary {
  margin-inline: 2.4rem;
}

.transaction-list {
  align-items: start;
  padding-top: 0;
}

.transaction-form,
.transaction-header {
  margin-block-end: 3.2rem;
}

.transaction-header,
.transaction-form,
.transaction-row {
  display: grid;
  grid-template-columns: 10rem 12rem 24rem 10rem 1fr;
  column-gap: 1.8rem;
}

.transaction-row span {
  font-size: 1.4rem;
  padding: 0.6rem;
}

.transaction-row:nth-child(odd) {
  background-color: var(--color-row-highlight);
}

.transaction-header {
  font-size: 1.8rem;
  background-color: var(--color-header-table);
  color: var(--color-text-secondary);
  padding: 1rem;
}

.transaction-header span:last-child,
.transaction-row span:last-child {
  justify-self: center;
}

.transaction-amount {
  height: 2.4rem;
}

.transaction-row {
  font-size: 1.8rem;
  margin-block: 0.6rem;
}

.transaction-submit {
  width: fit-content;
  padding-inline: 1.2rem;
  justify-self: center;
}

.balance-income,
.balance-expense,
.balance-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.balance-income span:first-child,
.balance-expense span:first-child,
.balance-total span:first-child {
  font-weight: 600;
}

.balance-income-amount,
.balance-expense-amount,
.balance-total-amount {
  font-size: 1.4rem;
}

.balance-income-amount {
  color: var(--color-success);
}

.balance-expense-amount {
  color: var(--color-error);
}

.summary-title {
  grid-column: 1 / -1;
  font-size: 1.8rem;
  font-weight: 600;
}

.summary-success,
.summary-denied {
  margin-bottom: 1.8rem;
}

.status-success {
  color: var(--color-success);
}

.status-denied {
  color: var(--color-error);
}

.summary-success-filter,
.summary-denied-filter {
  font-size: 1.4rem;
  color: var(--color-text-secondary);
  cursor: pointer;
  padding-bottom: 0.4rem;
}

.summary-filter-selected {
  border-bottom: 2px solid var(--color-text-highlight);
  color: var(--color-text-primary);
}

.summary-row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 10rem 8rem 6rem;
  gap: 2.4rem;
  font-size: 1.4rem;
}
